body {
    background-color: #536b78;
    color: #cee5f2;
}

.App {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
}

a {
    color: #7c98b3;
    text-decoration: none;
}

a:visited {
    color: #7c98b3;
}

footer {
    height: 80px;

    border: 1px red solid;
}

.failed {
    font-size: 12px;
    color: red;
}

li {
    text-decoration: none;
    list-style-type: none;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 400px;
}

.page-name {
    text-align: center;
}
